@media screen and (min-width: 800px) {
    .card {
        display: flex;
        /* align-items: center; */
        padding: 25px;
        /* backdrop-filter: blur(3px); */
        /* background-color: #ffffff2c; */
        margin-bottom: 1rem;
        border-radius: 5px;
        height: 300px;
        transition-duration: .2s;
        width: 70%;
    }
    .card:hover {
        background-color: #17264b;
        transition-duration: .4s;
    }
    .date {
        width: 50%;
        font-size: 14px;
        color: #566a92;
        font-weight: 600;
    }
    .titles {
        font-size: 16px;
        display: flex;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    .who {
        margin-right: .7em;
    }
    .description {
        font-family: 'CustomFontLight'!important;
        width: 80%;
        text-align: justify;
        line-height: 1.3;
        opacity: .7;
        /* margin-inline: auto; */
    }
    .technologies {
        margin-top: 10px;
    }
    .technologiesList {
        display: flex;
    }
    .technologiesListElem {
        height: 26px;
        margin-right: 1rem;
        padding-block: 6px;
        padding-inline: 8px;
        background-color: #183656;
        color: #3b8c9b;
        font-weight: 600;
        border-radius: 13px;
    }
}

@media screen and (max-width: 800px) {
    .card {
        display: flex;
        /* align-items: center; */
        padding: 25px;
        /* backdrop-filter: blur(3px); */
        /* background-color: #ffffff2c; */
        margin-bottom: 1rem;
        border-radius: 5px;
        height: 300px;
        transition-duration: .2s;
        max-width: 480px;
        margin-inline: auto;
        background-color: #17264b;
    }
    .date {
        max-width: 100px;
        width: 100%;
        font-size: 14px;
        color: #566a92;
        font-weight: 600;
    }
    .titles {
        font-size: 16px;
        display: flex;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    .who {
        margin-right: .7em;
    }
    .description {
        font-family: 'CustomFontLight'!important;
        /* width: 80%; */
        max-width: 350px;
        text-align: justify;
        line-height: 1.3;
        opacity: .7;
        /* margin-inline: auto; */
    }
    .technologies {
        margin-top: 10px;
    }
    .technologiesList {
        display: flex;
    }
    .technologiesListElem {
        height: 26px;
        margin-right: 1rem;
        padding-block: 6px;
        padding-inline: 8px;
        background-color: #183656;
        color: #3b8c9b;
        font-weight: 600;
        border-radius: 13px;
    }
}
