@media screen and (min-width: 800px) {
    .about {
        padding: 5px;
        justify-content: center;
        scroll-snap-type: y mandatory;
        height: 85vh;
        overflow-y: scroll;
    }
    .about::-webkit-scrollbar {
        display: none;
    }
    .paragr {
        margin-top: 30px;
        box-sizing: border-box;
        font-size: 24px;
        height: 85vh;
        text-align: justify;
        /* display: block; */
        scroll-snap-align: start;
        padding-top: 40vh;
        width: 90%;
        margin-inline: auto;
        margin-block: auto;
        opacity: .7;
    }
    .itLink {
        opacity: 1!important;
    }
}

@media screen and (max-width: 800px) {
    .about {
        padding: 5px;
        justify-content: center;
        scroll-snap-type: y mandatory;
        height: 70vh;
        overflow-y: scroll;
    }
    .about::-webkit-scrollbar {
        display: none;
    }
    .paragr {
        margin-top: 30px;
        box-sizing: border-box;
        font-size: 24px;
        height: 70vh;
        text-align: justify;
        /* display: block; */
        scroll-snap-align: start;
        padding-top: 30%;
        width: 90%;
        margin-inline: auto;
        margin-block: auto;
        opacity: .7;
    }
}